<div class="col">
	<div id="sectionHeader">
		<h1>Nova sekcija</h1>
	</div>
</div>

<div class="col col_1_3 center">
	<div class="box">
		<form (submit)="novaSekcija()">
			<div class="line error" *ngIf="message != undefined">{{message}}</div>
			<div class="line">
				<label for="name">Naziv:</label>
				<input type="text" id="name" name="name" [(ngModel)]="name" />
			</div>
			<div class="line">
				<label for="location">Lokacija:</label>
				<input type="text" id="location" name="location" [(ngModel)]="location" />
			</div>
			<div class="line">
				<label for="description">Opis:</label>
				<textarea id="description" name="description" [(ngModel)]="description"></textarea>
			</div>
			<div class="line">
				<button>Osnuj sekciju</button>
			</div>
		</form>
	</div>
</div>