<div class="popup">
	<form class="box" (submit)="novaObavijest()">
		<div class="line"><h5>Nova obavijest</h5></div>
		<div class="line error" *ngIf="message != undefined">{{message}}</div>
		<div class="line">
			<label for="novaObavijestiTitle">Naslov</label>
			<input type="text" id="novaObavijestiTitle" name="novaObavijestiTitle" [(ngModel)]="title">
		</div>
		<div class="line">
			<label for="novaObavijestiText">Tekst</label>
			<textarea id="novaObavijestiText" name="novaObavijestiText" [(ngModel)]="text"></textarea>
		</div>
		<div class="line">
			<button>Objavi</button>
		</div>
		<div class="line">
			<a (click)="odustani()">Odustani</a>
		</div>
	</form>
</div>