<div class="popup">
	<form class="box" (submit)="spremi()">
		<div class="line"><h5>Postavke sekcije</h5></div>
		<div class="line error" *ngIf="message != undefined">{{message}}</div>
		<div class="line">
			<label for="naziv">Naziv</label>
			<input type="text" [(ngModel)]="name" id="naziv" name="naziv"/>
		</div>
		<div class="line">
			<label for="lokacija">Lokacija</label>
			<input type="text" [(ngModel)]="location" id="lokacija" name="lokacija"/>
		</div>
		<div class="line">
			<label for="opis">Opis</label>
			<textarea [(ngModel)]="description" id="opis" name="opis"></textarea>
		</div>
		<div class="line">
			<input type="checkbox" [(ngModel)]="accepting" id="accepting" name="accepting"/>
			<label for="accepting">Prima članove</label>
		</div>
		<div class="line">
			<button>Spremi</button>
		</div>
		<div class="line">
			<a (click)="odustani()">Odustani</a>
		</div>
	</form>
</div>