<div class="box floater">
	<form (submit)="tryLogin()">
		<div class="line error" *ngIf="message != undefined">{{message}}</div>
		<div class="line">
			<label for="username">Email:</label>
			<input type="text" id="username" name="username" [(ngModel)]="username" />
		</div>
		<div class="line">
			<label for="password">Lozinka:</label>
			<input type="password" id="password" name="password" [(ngModel)]="password" />
		</div>
		<div class="line">
			<button>Prijava</button>
		</div>
		<a class="line" routerLink="/register" routerLinkActive="active">Registracija</a>
	</form>
</div>