<div class="col">
	<div id="sectionHeader">
		<h1>Pretraga</h1>
		<h2>{{term}}</h2>
	</div>
</div>

<div class="col" *ngIf="!trazim && sekcije1.length == 0 && sekcije2.length == 0">
	<h3>Nije pronađena ni jedna sekcija</h3>
</div>

<div class="col" *ngIf="trazim">
	<h3>Tražim...</h3>
</div>

<div class="col col_1_2">
	<div class="box complex" *ngFor="let sekcija of sekcije1">
		<div class="complex_header">
			<h4><a routerLink="/sekcija/{{sekcija.uid}}">{{sekcija.name}}</a></h4>
			<span>{{sekcija.location}}</span>
		</div>
	</div>
</div>

<div class="col col_1_2">
	<div class="box complex" *ngFor="let sekcija of sekcije2">
		<div class="complex_header">
			<h4><a routerLink="/sekcija/{{sekcija.uid}}">{{sekcija.name}}</a></h4>
			<span>{{sekcija.location}}</span>
		</div>
	</div>
</div>