<app-header *ngIf="session.checkSession()"></app-header>
<router-outlet></router-outlet>

<div class="shown" *ngIf="backend.error != undefined">
	<div class="popup">
		<div class="box">
			<div class="line"><h5>Greška</h5></div>
			<div *ngIf="backend.error.status != 0">
				<p>Dogodila se greška kod komunikacije sa serverom:</p>
				<p>Status: {{backend.error.status}}</p>
				<p>Tekst: {{backend.error.statusText}}</p>
			</div>
			<div *ngIf="backend.error.status == 0">
				<p>Povezivanjem s backend serverom neuspješno.</p>
			</div>
			<p></p>
			<a (click)="recover()">Pokušaj ponovno</a>
		</div>
	</div>
</div>

<div class="shown" *ngIf="backend.loading">
	<div class="popup">
		<div class="box">
			<div class="line"><h5>Loading</h5></div>
			<a (click)="recover()">Pokušaj ponovno</a>
		</div>
	</div>
</div>