<div class="col">
	<div id="sectionHeader">
		<h1>Moje aktivne prijave u sekcije</h1>
	</div>
</div>

<div class="col" *ngIf="prijave.length == 0">
	<h3>Nemate aktivne prijave</h3>
</div>

<div class="col">
	<div class="box complex" *ngFor="let prijava of prijave">
		<div class="complex_header">
			<h4><a routerLink="/prijava/{{prijava.uid}}">{{prijava.sectionName}}</a></h4>
			<span>{{status[prijava.status]}}</span>
		</div>
	</div>
</div>