<div class="popup">
	<form class="box wide" (submit)="ugasi()">
		<div class="line"><h5>Izmjena termina</h5></div>
		<div class="line error" *ngIf="message != undefined">{{message}}</div>
		<div class="line">
			<div class="termin simple" *ngFor="let weekly of sekcijaInside.weeklies">
				<span class="termin_dan">{{sekcijaInside.days[weekly.dow]}}</span>
				<a (click)="makniTermin(weekly)" class="termin_makni">-</a>
				<span class="termin_vrijeme">{{weekly.time}}</span>
			</div>
		</div>
		<div class="line">
			<div class="termin termin_novi simple">
				<span class="termin_dan">
					<select [(ngModel)]="tdDow" name="tdDow">
						<option *ngFor="let day of sekcijaInside.days; let i = index" value="{{i}}">{{day}}</option>
					</select>
				</span>
				<a (click)="dodajTermin()" class="termin_dodaj">+</a>
				<span class="termin_vrijeme">
					<input type="number" width="20" [(ngModel)]="tdTimeHr" name="tdTimeHr" />
					:
					<input type="number" width="20" [(ngModel)]="tdTimeMin" name="tdTimeMin" />
				</span>
			</div>
		</div>
		<div class="line">
			<button>OK</button>
		</div>
	</form>
</div>