<div class="col">
	<div id="sectionHeader">
		<h1>Jakso</h1>
		<h2>Pregled</h2>
	</div>
</div>

<div class="col col_1_3 center centerText" *ngIf="!hasSections">
	<div class="box">
		<p>Niste član ni jedne sekcije! <a routerLink="/sekcija/nova">Osnujte novu sekciju</a> ili pretražite postojeće sekcije.</p>
	</div>
</div>

<div class="col col_1_2" *ngIf="hasSections">
	<h3>Obavijesti</h3>

	<p *ngIf="notifications.length == 0">Trenutno nema obavijesti.</p>

	<div class="box complex" *ngFor="let notification of notifications">
		<div class="complex_header">
			<h4>{{notification.title}}</h4>
			<span>{{moment(notification.time).format("LLL")}}</span>
			<span class="bold">{{notification.section.name}}</span>
		</div>
		<div class="complex_content">
			<p>{{notification.text}}</p>
		</div>
	</div>
</div>

<div class="col col_1_2" *ngIf="hasSections">
	<h3>Događaji</h3>

	<div class="box complex" *ngFor="let event of events">
		<div class="complex_header">
			<h4>{{event.name}}</h4>
			<span>{{moment(event.time).format("LLL")}}</span>
			<span class="bold">{{event.section.name}}</span>
		</div>
		<div class="complex_header complex_subhead">
			<span class="bold">{{event.location}}</span>
		</div>
		<div class="complex_content">
			<p>{{event.text}}</p>
		</div>
	</div>

	<p *ngIf="events.length == 0">Trenutno nema događaja.</p>
</div>