<div class="popup">
	<div class="box">
		<div class="line"><h5>{{event.name}}</h5></div>

		<p *ngIf="dolaznici.length == 0">Nitko ne dolazi</p>

		<ul class="ulista">
			<li *ngFor="let dol of dolaznici">{{dol.name}} {{dol.surname}}</li>
		</ul>

		<a (click)="ugasi()">Ugasi</a>
	</div>
</div>