<div class="col">
	<div id="sectionHeader">
		<h1>{{sekcija.name}}</h1>
		<h2>{{sekcija.location}}</h2>

		<a (click)="obrisiSekciju()" *ngIf="owner" class="button">Raspusti sekciju</a>
		<a (click)="postavkeSekcije()" *ngIf="owner" class="button">Postavke sekcije</a>
		<a (click)="otvoriPrijave()" *ngIf="owner" class="button">Prijave</a>
		<a (click)="napustiSekciju()" *ngIf="!owner" class="button">Napusti sekciju</a>
	</div>
</div>

<app-postavke-sekcije *ngIf="owner" [sekcijaInside]="this" [ngClass]="postavkeShown ? 'shown' : ''" ></app-postavke-sekcije>
<app-nova-obavijest *ngIf="owner" [sekcijaInside]="this" [ngClass]="novaObavijestShown ? 'shown' : ''" ></app-nova-obavijest>
<app-novi-dogadaj *ngIf="owner" [sekcijaInside]="this" [ngClass]="noviDogadajShown ? 'shown' : ''" ></app-novi-dogadaj>
<app-izmjena-termina *ngIf="owner" [sekcijaInside]="this" [ngClass]="terminiShown ? 'shown' : ''" ></app-izmjena-termina>
<app-vanredni-termina *ngIf="owner" [sekcijaInside]="this" [ngClass]="vanredniShow ? 'shown' : ''" ></app-vanredni-termina>
<app-dogadaj-dolaznici *ngIf="owner" [sekcijaInside]="this" [ngClass]="dolazniciShow ? 'shown' : ''"
	[event]="dolazniciEvent" [dolaznici]="dolaznici"></app-dogadaj-dolaznici>
<app-aktivne-prijave *ngIf="owner" [sekcijaInside]="this" [prijave]="prijave" [ngClass]="prijaveShown ? 'shown' : ''" ></app-aktivne-prijave>

<div class="row">
	<div class="col col_1_3">
		<div class="box">
			<div class="termin simple" *ngFor="let weekly of weeklies">
				<span class="termin_dan">{{days[weekly.dow]}}</span>
				<span class="termin_vrijeme">{{weekly.time}}</span>
			</div>

			<a (click)="izmjenaTermina()" *ngIf="owner">Izmijeni termine</a>
		</div>
	</div>

	<div class="col col_2_3">
		<div class="box">
			<p *ngIf="weeklyChanges.length == 0">Trenutno nema vanrednih izmjena termina.</p>
			<div *ngFor="let wc of weeklyChanges" class="{{wc.class}}">
				<span class="termin_dan">{{days[wc.parent.dow]}} {{days[wc.date]}}</span>
				<span class="termin_vrijeme" *ngIf="!wc.canceled">{{wc.parent.time}}</span>
				<span class="termin_lokacija" *ngIf="wc.canceled">Otkazano</span>

				<div class="termin simple" *ngIf="wc.canceled !== true">
					<span class="termin_dan">{{days[wc.dow]}}</span>
					<span class="termin_vrijeme">{{wc.time}}</span>
				</div>
			</div>

			<a (click)="vanredniTermina()" *ngIf="owner">Izmijeni vanredne termine</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col col_1_2">
		<div class="box">
			<p>{{sekcija.description}}</p>
		</div>
	</div>

	<div class="col col_1_2">
		<div class="box">
			<h5 class="voda">Vođa:</h5>
			<p class="voda"><b>{{osnivac.name}} {{osnivac.surname}}</b><a href="mail:{{osnivac.email}}">{{osnivac.email}}</a></p>
			<h5 class="clanovi">Članovi</h5>
			<p *ngIf="clanovi.length > 0"><span class="member" *ngFor="let clan of clanovi"><a (click)="makniClana(clan)" *ngIf="owner">x </a>{{clan.name}} {{clan.surname}}</span></p>
			<p *ngIf="clanovi.length == 0">Sekcija nema članova.</p>
		</div>
	</div>
</div>

<div class="col col_1_2">
	<h3>Obavijesti</h3>
	<a class="button" (click)="novaObavijest()" *ngIf="owner">Nova obavijest</a>

	<p *ngIf="notifications.length == 0">Trenutno nema obavijesti.</p>

	<div class="box complex" *ngFor="let notif of notifications">
		<div class="complex_header">
			<h4>{{notif.title}}</h4>
			<span>{{moment(notif.time).format("LLL")}}</span>
		</div>
		<div class="complex_header complex_subhead" *ngIf="owner">
			<a (click)="makniObavijest(notif)" class="right">Ukloni obavijest</a>
		</div>
		<div class="complex_content">
			<p>{{notif.text}}</p>
		</div>
	</div>

	<a (click)="josObavijesti()" *ngIf="imaJosObavijesti" class="uciJos">Učitaj još</a>
</div>

<div class="col col_1_2">
	<h3>Događaji</h3>
	<a class="button" (click)="noviDogadaj()" *ngIf="owner">Novi dogadaj</a>

	<p *ngIf="events.length == 0">Trenutno nema događaja.</p>

	<div class="box complex" *ngFor="let event of events">
		<div class="complex_header">
			<h4>{{event.name}}</h4>
			<span>{{moment(event.time).format("LLL")}}</span>
		</div>
		<div class="complex_header complex_subhead">
			<span class="bold">{{event.location}}</span>
		</div>
		<div class="complex_header complex_subhead" *ngIf="owner">
			<a (click)="eventDolaznici(event)" *ngIf="!event.required">Potvrdili dolazak</a>
			<a (click)="makniEvent(event)" class="right">Ukloni događaj</a>
		</div>
		<div class="complex_content">
			<p>{{event.text}}</p>
		</div>
		<div class="complex_footer" *ngIf="!event.required">
			<a [ngClass]="event.coming === true ? 'selected' : ''" (click)="eventComing(event, true)">Dolazim</a>
			<a [ngClass]="event.coming === false ? 'selected' : ''" (click)="eventComing(event, false)">Ne dolazim</a>
		</div>
	</div>

	<a (click)="josDogadaja()" *ngIf="imaJosDogadaja" class="uciJos">Učitaj još</a>
</div>