<div class="box floater">
	<form (submit)="tryRegister()">
		<div class="line error" *ngIf="message != undefined">{{message}}</div>
		<div class="line">
			<label for="email">Email:</label>
			<input type="text" id="email" name="email" [(ngModel)]="email"/>
		</div>
		<div class="line">
			<label for="password">Lozinka:</label>
			<input type="password" id="password" name="pass" [(ngModel)]="pass"/>
		</div>
		<div class="line">
			<input type="password" id="password2" name="pass2" [(ngModel)]="pass2"/>
		</div>
		<div class="line">
			<label for="ime">Ime:</label>
			<input type="text" id="ime" name="ime" [(ngModel)]="ime"/>
		</div>
		<div class="line">
			<label for="prezime">Prezime:</label>
			<input type="text" id="prezime" name="prezime" [(ngModel)]="prezime"/>
		</div>
		<div class="line">
			<label for="dob">Datum rođenja:</label>
			<input type="date" id="dob" name="dob" [(ngModel)]="dob"/>
		</div>
		<div class="line">
			<button>Registracija</button>
		</div>
		<a class="line" routerLink="/login" routerLinkActive="active">Prijava</a>
	</form>
</div>