<div class="col">
	<div id="sectionHeader">
		<h1>Prijava u sekciju {{sekcija.name}}</h1>
		<h2>{{statusMsg[status]}}</h2>
		<h2><b>{{vlasnik.name}} {{vlasnik.surname}}</b></h2>
	</div>
</div>

<div class="row" *ngIf="status == 0 || status == 4">
	<div class="col col_1_3 center">
		<div class="box">
			<form (submit)="posaljiPoruku()">
				<div class="line"><textarea [(ngModel)]="poruka" name="poruka"></textarea></div>
				<div class="line"><button>Pošalji</button></div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col col_2_3 center">
		<div *ngFor="let poruka of poruke" class="{{poruka.class}}">
			<p>{{poruka.text}}</p>
		</div>
	</div>
</div>