<div class="popup">
	<form class="box" (submit)="objavi()">
		<div class="line"><h5>Novi događaj</h5></div>
		<div class="line error" *ngIf="message != undefined">{{message}}</div>
    	<div class="line">
			<label for="dogadajNaslov">Naslov</label>
			<input type="text" [(ngModel)]="title" id="dogadajNaslov" name="dogadajNaslov" />
		</div>
		<div class="line">
			<label for="dogadajLokacija">Lokacija</label>
			<input type="text" [(ngModel)]="location" id="dogadajLokacija" name="dogadajLokacija" />
		</div>
		<div class="line">
			<label for="dogadajVrijeme">Vrijeme događaja</label>
			<input type="datetime-local" [(ngModel)]="time" id="dogadajVrijeme" name="dogadajVrijeme" />
		</div>
		<div class="line">
			<label for="dogadajTekst">Tekst</label>
			<textarea [(ngModel)]="text" id="dogadajTekst" name="dogadajTekst"></textarea>
		</div>
		<div class="line">
			<input type="checkbox" [(ngModel)]="mandatory" id="dogadajObavezan" name="dogadajObavezan" />
			<label for="dogadajObavezan">Obavezno prisustvo</label>
		</div>
		<div class="line">
			<button>Objavi</button>
		</div>
		<div class="line">
			<a (click)="odustani()">Odustani</a>
		</div>
	</form>
</div>