@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=latin-ext');

/* ## */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0; padding: 0; border: 0; font-size: 100%;
    font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* ### */

.clearfix::after { content: ""; clear: both; display: table; }

/* ### */

b { font-weight: bold; }

.floater { min-width: 300px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }

.box { padding: 13px 15px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); background: #876452; }
	.box p { white-space: pre-line; }

.line { margin-bottom: 15px; }
.line:last-child { margin-bottom: 0; }

.line label { display: block; padding-bottom: 5px; }
.line input, .line button, .line textarea { display: block; box-sizing: border-box; width: 100%; }
.line input[type=checkbox] { float: left; width: auto; margin: 0; margin-right: 7px; }
.line textarea { min-width: 100%; max-width: 100%; }

input, button, textarea { border: 1px solid #824b32; padding: 5px; color: #fff; background: #c19676; font-family: Roboto; }
textarea { min-height: 100px; }
input:focus, button:focus, textarea:focus { outline: none; box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset; }
button { font-weight: 400; }

a { color: #f3b677; text-decoration: none; cursor: pointer; }
a:visited { color: #f3b677; }

body { font-family: Roboto; color: #fff; background: #4A2C23; font-weight: 300; letter-spacing: 0.4px; }

.error { color: #ff9360; font-weight: normal; }

.col { width: 100%; float: left; padding: 0 10px; box-sizing: border-box; }
.col_1_2 { width: 50%; }
.col_1_3 { width: 33.33%; }
.col_1_4 { width: 25%; }
.col_3_4 { width: 75%; }
.col_2_3 { width: 66.66%; }

.col .box { margin-bottom: 10px; }
.col h3 { padding-bottom: 10px; }
.center.col { float: none; margin: 0 auto; clear: both; }

h1 { font-size: 40px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 26px; }
h5 { font-size: 22px; }

p { padding-bottom: 15px; line-height: 1.4; }
p:last-child { padding-bottom: 0; }

.box ul.ulista { margin: 20px 0; list-style: circle inside; }
.box ul.ulista li { padding: 5px; }

.centerText { text-align: center; }

span.member { margin-right: 25px; }
h5.voda { float: left; padding-bottom: 25px; padding-right: 25px; }
p.voda { padding-top: 5px; line-height: 1 }
p.voda a { padding-left: 25px; }
h5.clanovi { clear: both; }

a.button { background: #876452; color: #fff; padding: 7px 20px; transition: background 0.1s ease; cursor: pointer; }
	a.button:hover { background: #824b32; }

.popup { position: fixed; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; z-index: -1; visibility: hidden;
	opacity: 0; transition: opacity 0.3s ease; background: rgba(0, 0, 0, 0.3); }
.shown .popup { opacity: 1; z-index: 10; visibility: visible; }
	.popup .box { position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 30%; }
	.popup .box.wide { width: 55%; }
		.popup .box h5 { padding-bottom: 5px; border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

#sectionHeader { padding: 50px 0 30px; }
#sectionHeader::after { content: ""; clear: both; display: table; }
	#sectionHeader h1 { font-weight: bold; float: left; }
	#sectionHeader h2 { float: left; margin-left: 50px; }
	#sectionHeader .button { float: right; }

.row { margin-bottom: 50px; }
.row::after { content: ""; clear: both; display: table; }

.complex { padding: 0; }
	.complex_header { padding: 13px 15px; border-bottom: 1px solid rgba(255, 255, 255, 0.2); display: flex; flex-direction: row; }
	.complex_header::after { content: ""; clear: both; display: table; }
		.complex_header h4 { float: left; flex-grow: 1; }
		.complex_header span { float: right; font-size: 16px; padding-top: 10px; flex-shrink: 0; }
		.complex_header span.bold { font-size: 18px; padding-top: 8px; font-weight: bold; padding-left: 15px; }
	.complex_subhead { padding: 10px 15px; display: block; }
		.complex_subhead span { float: none; padding: 0; }
		.complex_subhead span.bold { float: none; padding: 0; font-size: 16px; }
		.complex_subhead a.right { float: right; }

	.complex_content { padding: 13px 15px; }

	.complex_footer { border-top: 1px solid rgba(255, 255, 255, 0.2); }
	.complex_footer::after { content: ""; clear: both; display: table; }
		.complex_footer a { color: #fff; width: 50%; padding: 10px 0; text-align: center;
			float: left; box-sizing: border-box; transition: background 0.1s ease; }
		.complex_footer a:first-child { border-right: 1px solid rgba(255, 255, 255, 0.2); }
		.complex_footer a.selected, .complex_footer a:hover { background: #824b32; }
		.complex_footer a.selected { pointer-events: none; cursor: default; }

.termin { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid rgba(255, 255, 255, 0.1); font-size: 18px; }
.termin:last-child { margin-bottom: 0; padding-bottom: 0; border-bottom: 0; }
.termin::after { content: ""; clear: both; display: table; }
	.termin span { display: block; }
	.termin_dan { float: left; width: 25%; font-weight: normal; }
	.termin_vrijeme { float: left; }
	.termin.simple .termin_vrijeme { float: right; }
	.termin_lokacija { float: right; }

	.termin_novi .termin_dan { box-sizing: border-box; padding-right: 50px; }
		.termin_novi .termin_dan select { width: 100%; height: 27px; box-sizing: border-box; }
	.termin_novi .termin_vrijeme input { display: inline; width: 50px; }
	.termin_vrijeme input[type="checkbox"] { float: left; width: auto; margin-top: 2px; }
	.termin_vrijeme label { float: left; }

	.termin_dodaj, .termin_makni { float: right; display: block; width: 27px; margin-left: 10px;
		font-weight: bold; color: #fff; font-size: 20px; text-align: center; }
	.termin_dodaj { height: 27px; line-height: 27px; }
	.termin_makni { height: 18px; line-height: 18px; }

	.termin_otk .termin_lokacija { font-weight: normal; text-transform: uppercase; color: #faa; letter-spacing: 1px; }
	.termin_premj .termin_lokacija { font-weight: normal; color: #faa; }
	.termin_pomak .termin { clear: both; padding-left: 30px; padding-top: 10px; color: #faa; }

.poruka { width: 80%; float: left; }
.poruka.owner { float: right; }

.uciJos { padding-bottom: 20px; }