<div class="col">
	<div id="sectionHeader">
		<h1>{{sekcija.name}}</h1>
		<h2>{{sekcija.location}}</h2>

		<a class="button" *ngIf="sekcija.acceptingMembers && application == undefined" (click)="posaljiPrijavu()">Pridruži se sekciji</a>
		<a class="button" *ngIf="application != undefined" routerLink="/prijava/{{application.uid}}">Moja prijava</a>
	</div>
</div>

<div class="col col_2_3 center">
	<div class="box">
		<p>{{sekcija.description}}</p>
	</div>
</div>