<div class="popup">
	<div class="box">
		<div class="line"><h5>Aktivne prijave</h5></div>

		<p *ngIf="prijave.length == 0">Nema aktivnih prijava</p>

		<ul class="ulista">
			<li *ngFor="let prijava of prijave">
        		<a routerLink="/sekcija/{{sekcijaInside.sekcijaUid}}/prijava/{{prijava.uid}}">{{prijava.userName}}</a>
				- {{statusMsg[prijava.status]}}
			</li>
		</ul>

		<a (click)="ugasi()">Ugasi</a>
	</div>
</div>