<div class="popup">
	<form class="box wide" (submit)="ugasi()">
		<div class="line"><h5>Vanredne izmjene termina</h5></div>
		<div class="line error" *ngIf="message != undefined">{{message}}</div>
		<div class="line">

			<div *ngFor="let wc of sekcijaInside.weeklyChanges" class="{{wc.class}}">
				<span class="termin_dan">{{sekcijaInside.days[wc.parent.dow]}} {{sekcijaInside.days[wc.date]}}</span>
				<a (click)="makniTermin(wc)" class="termin_makni">-</a>
				<span class="termin_vrijeme" *ngIf="!wc.canceled">{{wc.parent.time}}</span>
				<span class="termin_lokacija" *ngIf="wc.canceled">Otkazano</span>

				<div class="termin simple" *ngIf="wc.canceled !== true">
					<span class="termin_dan">{{sekcijaInside.days[wc.dow]}}</span>
					<span class="termin_vrijeme">{{wc.time}}</span>
				</div>
			</div>

			<div class="termin termin_novi simple termin_pomak">
				<span class="termin_dan">
					<select [(ngModel)]="wcWeekly" name="wcWeekly">
						<option *ngFor="let weekly of sekcijaInside.weeklies" value="{{weekly.uid}}">
							{{sekcijaInside.days[weekly.dow]}} {{weekly.time}}
						</option>
					</select>
				</span>
				<a (click)="dodajTermin()" class="termin_dodaj">+</a>
				<span class="termin_vrijeme">
					<input type="checkbox" [(ngModel)]="wcOtkazano" name="wcOtkazano" id="wcOtkazano" />
					<label for="wcOtkazano">Otkazano</label>
				</span>

				<div class="termin simple" *ngIf="!wcOtkazano">
					<span class="termin_dan">
						<select [(ngModel)]="wcDow" name="wcDow">
							<option *ngFor="let day of sekcijaInside.days; let i = index" value="{{i}}">{{day}}</option>
						</select>
					</span>
					<span class="termin_vrijeme">
						<input type="number" width="20" [(ngModel)]="wcHr" name="tdTimeHr"/>
						:
						<input type="number" width="20" [(ngModel)]="wcMin" name="tdTimeMin"/>
					</span>
				</div>
			</div>
		</div>

		<div class="line">
			<button>OK</button>
		</div>
	</form>
</div>