<app-sekcija-inside *ngIf="sectionMember" [sekcijaUid]="sekcijaUid" [sekcijaResult]="sekcijaResult"></app-sekcija-inside>
<app-sekcija-outside *ngIf="!sectionMember" [sekcijaUid]="sekcijaUid" [sekcijaResult]="sekcijaResult" [application]="application"></app-sekcija-outside>