header { background: #876452; }
	ul.nav { float: left; }
	ul.nav.rightnav { float: right; }
		ul.nav > li { float: left; border-right: 1px solid rgba(255, 255, 255, 0.2); }
		ul.nav > li:last-child { border-right: none; }
			ul.nav > li a, ul.nav li.nolink { padding: 15px 40px; display: block; line-height: 20px;  }
			ul.nav a { color: #fff; }

		ul.nav li { transition: background 0.1s ease; }
		ul.nav li:hover, ul.nav li:focus-within { background: #824b32; }
		ul.nav li.nolink:hover, ul.nav li.nolink:focus-within { background: none; }

		ul.nav li.hassub { position: relative; }
		ul.nav li.hassub:hover ul.subnav { max-height: 200px; }

	ul.subnav { max-height: 0; background: #876452; transition: max-height 0.5s ease; overflow: hidden;
			position: absolute; left: 0; top: 50px; z-index: 5; }
		.subnav li { border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
		.subnav li:last-child { border-bottom: none; }
			ul.nav li ul.subnav li a { padding: 10px 20px; display: block; min-width: 150px; }

	#subnav-pretraga a { float: right; }
		#pretraga { width: 0; transition: width 0.5s ease; overflow: hidden; float: left; }
		#subnav-pretraga:hover #pretraga, #subnav-pretraga:focus-within #pretraga { width: 400px; display: block; }
			#pretraga input { height: 30px; box-sizing: border-box; margin: 10px; width: 100%; }