<header class="clearfix">
	<ul class="nav clearfix">
		<li><a routerLink="/">Pregled</a></li>
		<li class="hassub">
			<a>Sekcije</a>
			<ul class="subnav">
				<li *ngFor="let sekcija of data.sections"><a routerLink="/sekcija/{{sekcija.uid}}">{{sekcija.name}}</a></li>
				<li><b><a routerLink="/sekcija/nova">Nova sekcija</a></b></li>
			</ul>
		</li>
		<li *ngIf="data.imaPrijave">
			<a routerLink="/prijave">Prijave</a>
		</li>
	</ul>

	<ul class="nav rightnav clearfix">
		<li id="subnav-pretraga">
				<div id="pretraga">
					<form (submit)="pretraga()"><input type="text" [(ngModel)]="term" name="term" /></form>
				</div>
				<a (click)="pretraga()">Pretraga</a>
		</li>
		<li class="nolink">{{data.korisnik}}</li>
		<li><a (click)="doLogout()">Odjava</a></li>
	</ul>
</header>